.navbar-brand img {
    background-color: snow;
    border-radius: 50%;
}

.dropdown-item {
    color: snow;
}

.carousel-item img {
    max-height: 420px;
    min-height: 300px;
    object-fit: cover;
    filter: brightness(0.8);
}

.main-carousel {
    margin-top: 57px;
}

.site-footer {
    height: 55px;
}

.site-footer p {
    font-size: 1em;
}

.clubs-cards {
    /* width: 100vw; */
    flex-wrap: wrap;
    padding: 10px;
}

.clubs-cards.card {
    width: 18rem;
}

.clubs-cards img {
    max-height: 190px;
    object-fit: cover;
}

.card-holder {
    max-width: 380px;
}

.matches-container.card {
    width: 18rem;
    border-radius: 10%;
}

.card img {
    max-height: 160px;
}

.clubs-title {
    font-weight: bolder;
    font-style: italic;
    background-color: gray;
    margin-top: 58px;
}

.last-tr {
    border-bottom: 1.5px solid gray;
}

.rankings-table tr:hover {
    background-color: snow;
}

.rankings-title {
    background-color: gray;
    font-weight: bolder;
    font-style: italic;
    margin-top: 58px;
    margin-bottom: 30px;
}

.table-container {
    margin-bottom: 150px;
}

.form-container {
    margin-bottom: 90px;
}

.contact-title {
    background-color: yellow;
    font-style: italic;
    margin-top: 58px;
    margin-bottom: 30px;
}

.message-text {
    text-align: left;
}

.about-title {
    background-color: rgb(153, 153, 151);
    font-style: italic;
    margin-top: 58px;
    margin-bottom: 30px;
}

.about-container {
    margin-bottom: 100px;
    text-align: justify;
}

.about-container span {
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;

}